# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Build
/build/

# Test reports
/test-output/
surefire-reports/
jacoco.exec

# Dependency directories
/node_modules/

# Others
*.class